@model List<BlogIndexVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container my-4">
    <h1 class="text-center mb-5">Blogs</h1>

    <div class="container">
        <a asp-action="Create" class="btn btn-success mb-3"><i class="fa-regular fa-plus"></i></a>

        <div class="bg-light rounded h-100 p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col" style="width:300px">Heading</th>
                        <th scope="col">Blog Category</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(m => m.Id).ToList())
                    {
                        <tr>
                            <th><img src="~/assets/img/blog/@item.Image" style="width:200px;height:150px" /></th>
                            <td><span style="margin-top:62px;display:block;font-weight:600">@item.Heading</span></td>
                            <td><span style="margin-top:62px;display:block;font-weight:600">@item.BlogCategory</span></td>
                            <td style="display: flex;flex-direction: column;justify-content: space-around;align-items: center;height: 166.8px;">
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-regular fa-circle-info"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger"><i class="fa-regular fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
