@model ShopVM
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/shop/shop.css">
}
@section Scripts{
    <script src="~/assets/js/shop.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Shop</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                    <div class="category">
                        <h4>Categories</h4>
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a asp-action="Index" asp-route-productCategoryId="@item.Id">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="brand mt-5">
                        <h4>Brands</h4>
                        <ul>
                            @for (int i = 1; i <= Model.Brands.Count; i++)
                            {
                                <li><input id="cb-@i" type="checkbox"> <label for="cb-@i">@Model.Brands[i-1].Name</label></li>
                            }
                        </ul>
                    </div>
                    <div class="price-slider mt-5">
                        <h4>Price</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="25">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="75">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="100" value="25" step="1">
                            <input type="range" class="range-max" min="0" max="100" value="75" step="1">
                        </div>
                    </div>
                    <div class="tags mt-5">
                        <h4>Tags</h4>
                        <div class="tags-item">
                            @foreach (var item in Model.Tags)
                            {
                                <a href="">@item.Name</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            @if(Model.SearchedProducts == null)
                            {
                                if(Model.CategorizedProducts == null)
                                {
                                    @for (int i = 1; i <= Model.Paginate.Datas.Count; i++)
                                    {
                                        <div data-id="@i" class="product-card col-lg-4 col-sm-6">
                                            <div class="image">
                                                <img src="~/assets/img/home/products/@Model.Paginate.Datas[i-1].Image" alt="women-1">
                                                <i class="fa-light fa-heart"></i>
                                                <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                                <div class="bottom">
                                                    <i class="fa-light fa-basket-shopping"></i>
                                                    <div class="view">
                                                        <a asp-action="ProductDetail" asp-route-id="@Model.Paginate.Datas[i-1].Id">
                                                            <span>View Item</span>
                                                            <i class="fa-regular fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <p class="category-name">@Model.Paginate.Datas[i-1].Tag.Name</p>
                                                <a asp-action="ProductDetail" asp-route-id="@Model.Paginate.Datas[i-1].Id">@Model.Paginate.Datas[i-1].Name</a>
                                                <p class="price">$@Model.Paginate.Datas[i-1].Price</p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if(Model.CategorizedProducts.Count != 0)
                                    {
                                        @for (int i = 1; i <= Model.CategorizedProducts.Count; i++)
                                        {
                                            <div data-id="@i" class="product-card col-lg-4 col-sm-6">
                                                <div class="image">
                                                    <img src="~/assets/img/home/products/@Model.CategorizedProducts[i-1].Image" alt="women-1">
                                                    <i class="fa-light fa-heart"></i>
                                                    <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                                    <div class="bottom">
                                                        <i class="fa-light fa-basket-shopping"></i>
                                                        <div class="view">
                                                            <a asp-action="ProductDetail" asp-route-id="@Model.CategorizedProducts[i-1].Id">
                                                                <span>View Item</span>
                                                                <i class="fa-regular fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p class="category-name">@Model.CategorizedProducts[i-1].Tag.Name</p>
                                                    <a asp-action="ProductDetail" asp-route-id="@Model.CategorizedProducts[i-1].Id">@Model.CategorizedProducts[i-1].Name</a>
                                                    <p class="price">$@Model.CategorizedProducts[i-1].Price</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div role="alert" class="alert-danger alert">No Products Found</div>
                                    }
                                }
                            }
                            else
                            {
                                if(Model.SearchedProducts.Count != 0)
                                {
                                    @for (int i = 1; i <= Model.SearchedProducts.Count; i++)
                                    {
                                        <div data-id="@i" class="product-card col-lg-4 col-sm-6">
                                            <div class="image">
                                                <img src="~/assets/img/home/products/@Model.SearchedProducts[i-1].Image" alt="women-1">
                                                <i class="fa-light fa-heart"></i>
                                                <i class="fa-solid fa-heart d-none"></i><!-- Choosen heart in orange color -->
                                                <div class="bottom">
                                                    <i class="fa-light fa-basket-shopping"></i>
                                                    <div class="view">
                                                        <a asp-action="ProductDetail" asp-route-id="@Model.SearchedProducts[i-1].Id">
                                                            <span>View Item</span>
                                                            <i class="fa-regular fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <p class="category-name">@Model.SearchedProducts[i-1].Tag.Name</p>
                                                <a asp-action="ProductDetail" asp-route-id="@Model.SearchedProducts[i-1].Id">@Model.SearchedProducts[i-1].Name</a>
                                                <p class="price">$@Model.SearchedProducts[i-1].Price</p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div role="alert" class="alert-danger alert">No Products Found</div>
                                }
                            }
                        </div>
                    </div>
                    @if(Model.SearchedProducts == null && Model.CategorizedProducts == null)
                    {
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item @(Model.Paginate.HasPrevious ? "" : "disabled")">
                                    <a class="page-link" asp-route-page="@(Model.Paginate.CurrentPage-1)" tabindex="-1">Previous</a>
                                </li>
                                @for (int i = 1; i <= Model.Paginate.TotalPage; i++)
                                {
                                    <li class="page-item @(Model.Paginate.CurrentPage == i ? "disabled active-pagination" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
                                }
                                <li class="page-item @(Model.Paginate.HasNext ? "" : "disabled")">
                                    <a class="page-link" asp-route-page="@(Model.Paginate.CurrentPage+1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
    </section>

</main>