@model BlogVM

@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/scss/blog/blog.css">
}
@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}

<main>

    <section id="mini-nav">
        <div class="container">
            <div class="contents">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                    Home
                </a>
                <i class="fa-light fa-chevron-right"></i>
                <span>Blog</span>
            </div>
            <hr>
        </div>
    </section>

    <section id="blogs" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                    <div class="left">
                        <div class="search">
                            <h4>Search</h4>
                            <form>
                                <input type="text" placeholder="Search...">
                                <button>
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div class="categories">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var item in Model.BlogCategories)
                                {
                                    <li><a href="">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                        <div class="recents">
                            <h4>Recent Posts</h4>

                            <div class="posts">
                                @foreach (var item in Model.MiniBlogs)
                                {
                                    <div class="post">
                                        <div class="left-side">
                                            <a href="">
                                                <img style="width:81px;height:81px" src="~/assets/img/blog/@item.Image" alt="recent-1">
                                            </a>
                                        </div>
                                        <div class="right-side">
                                            <a href="">@item.Heading</a>
                                            <div class="down">
                                                <span class="category">@item.BlogCategory.Name</span>
                                                <span class="date">- @item.CreateDate.ToString("MMMM dd, yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-lg-6 col-sm-6 mb-5">
                                <div class="blog">
                                    <div class="picture">
                                        <a href="">
                                            <img src="~/assets/img/blog/@item.Image" alt="blog-1">
                                        </a>
                                    </div>
                                    <div class="text mt-3">
                                        <a href="">@item.Heading</a>
                                        <div class="down">
                                            <span class="category">@item.BlogCategory.Name</span>
                                            <span class="date">- @item.CreateDate.ToString("MMMM dd, yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>